:root{
  --dark-purple : #615e85;
  --light-green : #a3d1af;
  --dark-blue : #717fb0;
  --orange : #ebc3a7;
  --purple : #9c8dc2;
  --blue : #90b4de;
  --pink : #d9a3cd;
  --whiteish : #e0e0dc;
}
@font-face {
  font-family: JetBrainsMono; /* set name */
  src: url(JetBrainsMono-Regular.ttf); /* url of the font */
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div { 
  font-family: 'JetBrainsMono';
}

h { 
  font-size: 2.5rem;
}
p { 
  font-size: 1.5rem;
}
canvas {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  image-rendering: pixelated;
  /* For modern browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome, Safari */
  display: block;
  /* Removes extra space below inline elements */
  width: 75%;
  height: 75%;
}


#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  color: var(--light-green);
}





.button88x31 {
  image-rendering: pixelated;
  /* For modern browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  width: 88px;
  height: 31px;

}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  
  background-color: var(--dark-purple);
}

.main {
  width :60%;
  height :60%;
  border: 4px dashed var(--pink);
  background-color: var(--blue);
}

#friends {

  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  justify-content: space-around;
}