html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  image-rendering: pixelated;
  /* For modern browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome, Safari */
  display: block;
  /* Removes extra space below inline elements */
  width: 100%;
  height: 100%;
}


#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  color: white;
}



.base-screen-style {
  image-rendering: pixelated;
  /* For modern browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  width: 400px;
  height: 300px;
  background: rgba(255, 255, 255, 1.0);
  color: #000;
  display: flex;
}

.button88x31 {
  image-rendering: pixelated;
  /* For modern browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  width: 88px;
  height: 31px;

}

#friends {
        
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: space-around;
}