:root{
  --dark-purple : #615e85;
  --light-green : #a3d1af;
  --dark-blue : #717fb0;
  --orange : #ebc3a7;
  --purple : #9c8dc2;
  --blue : #90b4de;
  --pink : #d9a3cd;
  --whiteish : #e0e0dc;
}
@font-face {
  font-family: JetBrainsMono; /* set name */
  
  src: url(JetBrainsMono-Regular.ttf); /* url of the font */
}

canvas {
 position: fixed;
 left: 0;
 top: 0;

  image-rendering: pixelated;
  /* For modern browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome, Safari */
  display: block;
  /* Removes extra space below inline elements */
  width: 100%;
  height: 100%;

}
