:root {
  --dark-purple: #615e85;
  --light-green: #a3d1af;
  --dark-blue: #717fb0;
  --orange: #ebc3a7;
  --purple: #9c8dc2;
  --blue: #90b4de;
  --pink: #d9a3cd;
  --whiteish: #e0e0dc;
}

@font-face {
  font-family: JetBrainsMono;
  /* set name */

  src: url(fonts/JetBrainsMono-Regular.ttf);
  /* url of the font */
}

@font-face {
  font-family: Caveat-Variable;
  /* set name */

  src: url(fonts/Caveat-VariableFont_wght.ttf);
  /* url of the font */
}

@font-face {
  font-family: CaveatBrush-Regular;
  /* set name */

  src: url(fonts/CaveatBrush-Regular.ttf);
  /* url of the font */
}

@font-face {
  font-family: Micro5;
  /* set name */

  src: url(fonts/Micro5-Regular.ttf);
  /* url of the font */
}

@media (max-width: 770px) {
  .card-top-right {
    right: unset;
    left: 12px;
  }

  .card-body {
    padding-top: 4rem;
  }
  .card-title {
    padding-top: 40px;
  }
}


canvas {
  position: fixed;
  left: 0;
  top: 0;

  image-rendering: pixelated;
  /* For modern browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome, Safari */
  display: block;
  /* Removes extra space below inline elements */
  width: 100%;
  height: 100%;

}


#icon {
  background-color: transparent;
  border: none;
  padding: 6px;
  transition: filter 0.1s ease-in-out, scale 0.25s ease-in-out;

}

#icon:hover {
  filter: invert(100%);
  transform: scale(1.15);
}

#button {
  background-color: #ebc3a7;
  color: #615e85;
  transition: filter 0.1s ease-in-out, scale 0.25s ease-in-out;
}

#button:hover {
  filter: invert(100%);
  transform: scale(1.05);
}

@keyframes color-loop {
  0% {
    font-family: "JetBrainsMono";
    background-color: #d9a3cd;

  }

  25% {
    font-family: "Caveat-Variable";
    background-color: #90b4de;
  }

  75% {
    font-family: "CaveatBrush-Regular";
    background-color: #a3d1af;
  }

  100% {
    font-family: "Micro5";
    background-color: #ebc3a7;
  }
}

#name {

  font-size: 72px;
  /* Adjust as needed */
  font-weight: bold;
  background-image: linear-gradient(90deg, #d9a3cd 0%, #90b4de 50%, #a3d1af 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* Fallback */
  transition: background-image 5s ease-in-out;


}

#name:hover {}


.button88x31 {
  image-rendering: pixelated;
  /* For modern browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  width: 88px;
  height: 31px;
}