html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

canvas {
    image-rendering: pixelated;
    /* For modern browsers */
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome, Safari */
    display: block;
    /* Removes extra space below inline elements */
    width: 100%;
    height: 100%;
}